// import google fonts
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        #navbar {
            min-height: 85px;
            min-width: 100%;
            padding: 5px 25px;
            background-color: rgb(202, 70, 43);
            position: fixed;
            z-index: 20;
            color: #fffef7;

            display: flex;
            align-items: center;
            justify-content: space-between;

            h3,
            .fa-solid {
                font-size: 2em;
            }

            h3,
            a {
                font-family: "Lexend", sans-serif;
            }

            .nav-logo {
                display: flex;

                .fa-compact-disc {
                    margin-left: 15px;
                }
            }

            .nav-container {
                min-width: 40%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 1.4em;

                a {
                    text-decoration: none;
                    color: #fffef7;
                }
            }

            .nav-icons {
                min-width: 10%;
                display: flex;
                justify-content: space-evenly;
            }


        }

        .section {
            min-width: 100vw;
            min-height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3em;
            color: white;
            font-family: "Lexend", sans-serif;
            ;

            #title {
                text-align: center;
                margin-bottom: 40px;
                font-size: 1.7em;
                z-index: 10;
            }

            .slide {
                min-width: 100vw;

                .fp-overflow {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

            // slide 1 - sign up
            #slide1 {
                background-image: url('../imgs/image1.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-color: violet;
                width: 100%;
                height: 100%;

                #signUpForm {
                    min-width: 25vw;
                    margin: 10px 0;
                    z-index: 10;

                    .form-field-container {
                        display: flex;
                        flex-direction: column;
                        margin: 12px 0;

                        label {
                            font-size: 0.5em;
                            margin-bottom: 10px;
                        }

                        input {
                            padding: 1.2%;
                            font-size: 0.4em;
                        }
                    }

                    #submit-button {
                        margin-top: 40px;
                        font-size: 0.5em;
                        min-width: 100%;
                        padding: 1.2%;
                    }

                }
            }

            // slide 2 - vinyl population
            #slide2 {
                background-color: #f4f3ef;

                .vinyl-items-header {
                    min-width: 100%;
                    min-height: 500px;
                    padding: 20px;
                    margin-top: 85px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-image: url("../imgs/image2.jpg");

                    h2 {
                        font-size: 2.1em;
                        margin-top: 170px;
                        color: #fffef7;
                    }
                }

                h3,
                label {
                    color: #f4f3ef;
                }

                .filter-sort-container {
                    min-width: 100%;
                    background-color: #0d6d96;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .filter-container,
                    .sorting-container {
                        margin: 0.4em 0;

                        h3 {
                            font-size: 0.7em;
                            text-align: center;
                            margin-bottom: 15px;
                        }

                        .decade-filter-container,
                        .genre-filter-container {

                            label {
                                font-size: 0.5em;
                                text-align: center;
                            }
                        }

                        .filter-btn-container {
                            display: flex;

                            .decade-filter-container,
                            .genre-filter-container {
                                display: flex;
                                flex-direction: column;
                                margin: 0 1.2em;
                            }


                        }
                    }

                }

                .body-container {
                    min-width: 50%;

                    .vinyl-grid-container {
                        height: 500px;
                        background-color: #f4f3ef;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 35px 40px;
                        padding: 60px 80px;
                        scroll-behavior: auto;
    
                        .vinyl-item-card {
                            display: flex;
                            // flex-direction: column;
                            justify-content: flex-start;
                            background-color: rgb(251, 247, 241);
                            border: 5px solid #e74c3c;
                            box-shadow: 0 0 0 5px #34a5d5;
                            border-radius: 20px;
                            padding: 18px;
    
                            .vinyl-item-details {
                                margin-left: 15px;
                                max-width: 45%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
    
                                h2 {
                                    font-size: 0.7em;
                                }
    
                                h4 {
                                    font-size: 0.5em;
                                }
    
                                h2, h4 {
                                    color: #e74c3c;
                                }
    
                                .vinyl-item-small-details {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
    
                                    h3 {
                                        font-size: 0.6em;
                                        color: #166687;
                                    }
    
                                    h5 {
                                        font-size: 0.6em;
                                        color: #166687;
                                    }
                                }
    
    
                                
                            }
    
                            .swiper {
                                max-width: 350px;
                                max-height: 350px;
                                border: 3px solid #11191b;
                                border-radius: 20px;
                                margin: 0;
        
                                .vinyl-item-image {
                                    width: 100%;
                                    height: auto;
                                    object-fit: contain;
                                    object-position: center;
                                    // display: block;
        
                                }
                            }
                        }
    
    
    
                    }
                }


            }


        }

        .section:nth-child(1) {
            background-color: #1abc9c;
        }

        .section:nth-child(2) {
            background-color: #3498db;
            // width: 100%;
        }

        .section:nth-child(3) {
            background-color: #e74c3c;
        }

        .section:nth-child(4) {
            background-color: #9b59b6;
        }

        .swiper {
            width: 300px;
            height: 300px;
        }
    }
}